.lista-pages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    row-gap: 20px;
    justify-items: center;
    margin: 30px;
}


.clase-texto{
    color:rgb(0, 0, 0);
    font-size: medium;
    font-weight: 700;
    
}