{% extends 'index.html' %}


{% block ContenidoQueCambia %}

    <h1>Federico D'Angelo Rodríguez</h1>
    <p>Hola, soy el creador de esta web. Estoy comenzando en el mundo de la programación, y ésta es mi primera experiencia web.</p>
    <p>
        Esta página es la base para en un futuro poder crear una web estilo GranDT, donde el usuario pueda elegir sus preferencias
        de equipos,jugadores, y también poder participar de un prode por fecha.
    </p>
{% endblock ContenidoQueCambia %}
    