{% extends 'index.html' %}


{% block ContenidoQueCambia %}
    
    <ul>
                
        {% for entrenador in entrenadores %}
            <li>
                <a href="{% url 'DetalleEntrenador' entrenador.id %}">{{entrenador}}</a>
            </li>
            <div>
                <button>
                    <a href="{% url 'EliminarEntrenador' entrenador.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'ActualizarEntrenador' entrenador.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}

    </ul>
    <a href="{% url 'CrearEntrenador' %}">Crear entrenador</a>

{% endblock ContenidoQueCambia %}
    