{% extends 'index.html' %}


{% block ContenidoQueCambia %}

<table class="table">
    <thead style="font-size: x-large;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Equipo</th>
        <th scope="col">Títulos</th>
      </tr>
    </thead>
    <tbody style="font-size: x-large;">
      <tr>
        <th scope="row">Entrenador</th>
        <td>{{entrenador.nombre}}</td>
        <td>{{entrenador.apellido}}</td>
        <td>{{entrenador.edad}}</td>
        <td>{{entrenador.equipo}}</td>
        <td>{{entrenador.titulos}}</td>
      </tr>
      <tr>
      </tr>
    </tbody>
</table>

{% endblock ContenidoQueCambia %}
    