{% extends 'index.html' %}


{% block ContenidoQueCambia %}

<table class="table">
    <thead style="font-size: x-large;">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Edad</th>
        <th scope="col">Equipo</th>
        <th scope="col">Títulos</th>
        <th scope="col"></th>
        <th scope="col">Editar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody style="font-size: x-large;">
      <tr>
        <th scope="row">Entrenador</th>
        <td>{{entrenador.nombre}}</td>
        <td>{{entrenador.apellido}}</td>
        <td>{{entrenador.edad}}</td>
        <td>{{entrenador.equipo}}</td>
        <td>{{entrenador.titulos}}</td>
        {% if entrenador.imagen %}
            <img style="width: 280px;" class="card-img-top" src="{{entrenador.imagen.url}}" alt="">
        {% endif %}
        <td>
          <a class="btn btn-secondary" href="{% url 'ActualizarJugador' jugador.id %}">Editar</a></td>
        <td>
          <a class="btn btn-danger" href="{% url 'EliminarJugador' jugador.id %}">Eliminar</a></td> 
      </tr>
      <tr>
      </tr>
    </tbody>
</table>    

{% endblock ContenidoQueCambia %}
    