{% extends 'index.html' %}


{% block ContenidoQueCambia %}
    
    <ul>
                
        {% for equipo in equipos %}
            <li>
                <a href="{% url 'DetalleEquipo' equipo.id %}">{{equipo}}</a>
            </li>
            <div>
                <button>
                    <a href="{% url 'EliminarEquipo' equipo.id %}">Eliminar</a>
                </button>
                <button>
                    <a href="{% url 'ActualizarEquipo' equipo.id %}">Editar</a>
                </button>
            </div>
        {% endfor %}

    </ul>
    <a href="{% url 'CrearEquipo' %}">Crear Equipo</a>

{% endblock ContenidoQueCambia %}
    