{% extends 'index.html' %}


{% block ContenidoQueCambia %}

<section class="lista-pages">
    {% if torneos %}             
            {% for torneo in torneos %}
            <div class="card" style="width: 18rem;">
                
                {% if torneo.imagen %}
                    <img style="width: 280px;" class="card-img-top" src="{{torneo.imagen.url}}" alt="">
                {% endif %}
                    
                <div class="card-body">  
                    <h5 class="card-title" >{{torneo.nombre}}</h5>  
                    <a href="{% url 'DetalleTorneo' torneo.id %}" class="btn btn-primary">{{torneo.nombre}}</a>
                </div>
            </div>
            {% endfor %}
    {% endif %}
</section>
<div>
    <a class="btn btn-primary" href="{% url 'CrearTorneo' %}">Crear Torneo</a>
</div>
<div class="pagination justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
{% endblock ContenidoQueCambia %}
    